<meta charset="utf-8">

<script src="https://d3js.org/d3.v4.min.js"></script>
@Scripts.Render("~/Scripts/PetsStatistics.js")

<style>
    .bar {
        fill: #4d79ff;
        fill-opacity: 0.6;
        transition: fill-opacity .75s ease-in-out;
        -moz-transition: fill-opacity .75s ease-in-out;
        -webkit-transition: fill-opacity .75s ease-in-out;
    }

        .bar:hover {
            fill-opacity: 1.0;
        }

    .axis--x path {
        display: none;
    }

    .pie-lable {
        font-family: sans-serif Arial;
    }

    .path {
        fill-opacity: 0.6;
        transition: fill-opacity .75s ease-in-out;
        -moz-transition: fill-opacity .75s ease-in-out;
        -webkit-transition: fill-opacity .75s ease-in-out;
    }

    .path:hover {
       fill-opacity: 1.0;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col chart">
                <h2>Adoption Requests By Organization</h2>
            </div>
            <div class="col pie align-content-center">
                <h2>Pets in HoPet By Organization</h2>
            </div>
        </div>
        <div class="row">
            <p class="btn btn-default">@Html.ActionLink("Go back to Manager Page ", "Manage", "Users")&raquo;</p>
        </div>
    </div>
</body>

<script>
    var petsCountByOrganization = JSON.parse('@Html.Raw(ViewBag.petsCountByOrganization)');
    drawBasicPieChart(petsCountByOrganization);

    var adCountByOrganization = JSON.parse('@Html.Raw(ViewBag.adCountByOrganization)');
    drawBasicChart(adCountByOrganization);
</script>