@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-around">
    <div class="col">
        <div class="jumbotron">
            <h1>About Us</h1>
            <p class="lead">
                HoPet is a platform for organizations to advertise pets for adoptions
                and for users to adopt them by openning adoption requests.
            </p>
        </div>
    </div>
    <div class="col">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AsxKpr8fTmQ?autoplay=1&loop=1&playlist=AsxKpr8fTmQ&controls=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media"></iframe>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-md-4 margin-top-small d-flex align-items-start">
        <div class="jumbotron align-self-lg-stretch">
            <h3>Adopt Pets</h3>
            <p class="lead">
                You can what all the pets that are looking for homes
                and open an adoption request to adopt them!
            </p>
            <p class="btn btn-default">@Html.ActionLink("Go To Pets ", "Index", "Pets")&raquo;</p>
        </div>
    </div>
    <div class="col-md-4 margin-top-small d-flex align-items-start">
        <div class="jumbotron align-self-lg-stretch">
            <h3>Watch Our Organizations</h3>
            <p class="lead">
                Come see all our hard working organizations and their contact information.
            </p>
            <p class="btn btn-default">@Html.ActionLink("Go To Organizations ", "Index", "Organizations")&raquo;</p>
        </div>
    </div>
    <div class="col-md-4 margin-top-small d-flex align-items-start">
        <div class="jumbotron align-self-lg-stretch">
            <h3>Explore Our Products</h3>
            <p class="lead">
                Explore all kinds of products for all pet kinds.
                Contact us if anything is missing..
            </p>
            <p class="btn btn-default">@Html.ActionLink("Go To Products ", "Index", "Products")&raquo;</p>
        </div>
    </div>
</div>